a:link {
    color: blue;
}
a:visited { color: red; }
a:hover { color: yellow; }
a:active { color: white; }

form { 
    display: block;
    width: 40em;
    padding: 3pt;
}

.score_item {
    text-indent: 20px;
    margin-bottom: 4px;
}
