body {
  background-color: white;
  background-image: none;
}

#credits {
  background: url(../common/images/cc-logo.png) top left no-repeat;
  position: absolute;
  top: 411px;
  width: 162px;
  height: 89px;
  cursor: pointer;
}

#credits:hover {
  background: url(../common/images/cc-logo-light.png) top left no-repeat;
}

#about {
  position: absolute;
  left: 100px;
  top: 112px;
  width: 560px;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: rgb(75, 207, 248) solid 5px;
  font-size: 1.2em;
  z-index: 1003;
}

#about img {
  position: relative;
  left: 215px;
  width: 101px;
  margin-top: 10px;
  margin-bottom: -15px;
}

#close-about {
  position: absolute;
  left: 577px;
  top: 0px;
  width: 19px;
  height: 19px;
  border: 2px solid;
  border-radius: 5px;
  text-align: center;
  color: #aaa;
  font-weight: bold;
  cursor: pointer;
}

#close-about:hover {
  color: #666;
}

#share-panel {
  left: 100px;
  top: 100px;
}

#share-prompt {
  position: inherit;
}
