body {
	font-family: verdana, arial, sans-serif;
	margin: 0;
	padding: 0;
	height: 100%; 
	max-height: 100%; 
	}

#framecontent{
	height: 100px; /*Fixed height of banner frame */
	padding: 10px;
	position: relative;
	}
#framecontent img {
	border: none;
	}
#maincontent {
	padding: 10px;
	}
#print-link {
	background: url(print.png) no-repeat 0 0;
	display: block;
	height: 15px;
	padding: 0;
	position: absolute;
	right: 20px;
	text-indent: -999em;
	top: 20px;
	width: 50px;
	}
#print-link:hover { background-position: 0 -19px; }
h3 {
	margin-top:0;
	}
li {
	margin-top:10px;
	}
sup {
	vertical-align:sup;
	}
#highlight {
   color:#0070C0;
   }
td {
	font-size: small;
	padding: 3px;
	text-align: center;
	}

@media print { /* print-only styles */
	body {margin: 10%;}
	#print-link { display: none; }
	}