/* ++++++++++ global general styles start ++++++++++*/	
<style type="text/css">
<!--





body,td,th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #000000;
}
html, body {
	background-image: url(images_web/gradient.gif); 
	background-repeat: repeat; 
	margin-left: 1px;
	margin-top: 10px;
	margin-right: 1px;
}

a:link { text-decoration:none;color:#c1852e; }
a:visited { text-decoration:none;color:#c1852e; }
a:active { text-decoration:none;color:#fae606; }
a:hover { text-decoration:none;color:#c99c02; } 
.ImageLink {
	border: 1px solid #000000;

}

table { border-color: rgb( 155, 135, 103); 
border-width: 5px; 
border-style: outset; } 




#maincontainer {
	position:relative; 
	width:850px; 
	height:570px; 
	z-index:1;  
	background-color: #ffffff; 
	
}

#subcontainer {
	position:relative;
	width:856px;
	height:580px;
	z-index:1;

	
	background: url(images/shadow_mhs.gif) no-repeat bottom right;
	
}



.mainlinks {
	font-family: "Verdana", Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.footerlinks {
	font-family: "Verdana", Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#zzz { height:99%; width:1px; background-color:#540101; z-index:20; margin:0px; padding:0px; }
#yyy { height:2px; background-color:#540101; z-index:20; margin:0px; padding:0px; position:absolute; width:850px; top:0px; }




#narrativeHome {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333333;
}

#narrativeSub {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
	color: #333333;
}

#HeaderText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333333;
	
	
}


#classList {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333333;
}


#menuBox a:link {
	color: #E7DAC6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}


#menuBox a:visited  {
	color: #E7DAC6;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}


#menuBox a:hover {
	text-decoration: none;
	color: #d4b901;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11pt;
}




#menuBottom a:link {
	color: #3a5639;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}


#menuBottom a:visited  {
	color: #3a5639;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}


#menuBottom a:hover {
	text-decoration: none;
	color: #d4b901;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
}





</style>





